<div class="container">
	<h2>管理画面トップ</h2>
	<ul class="list-group mb-2">
		<li class="list-group-item active">記事</li>
		<li class="list-group-item">
			<%= link_to '記事一覧', admins_path		 %>
		</li>
		<li class="list-group-item">
			<%= link_to '記事追加', new_admin_path	 %>
		</li>
	</ul>
	<ul class="list-group mb-2">
		<li class="list-group-item active">画像</li>
		<li class="list-group-item">
			<%= link_to '画像一覧', images_path	 %>
		</li>
		<li class="list-group-item">
			<%= link_to '画像追加', new_image_path	 %>
		</li>
	</ul>
	<ul class="list-group mb-2">
		<li class="list-group-item active">アカウント</li>
		<li class="list-group-item">
			<%= link_to 'アカウント編集', edit_user_registration_path	 %>
		</li>
	</ul>
</div>