<h2>Index</h2>
<div class="container mt-5 mb-5">
 <% @posts.each do | post | %>
  <div class="row">
    <div class="col-2  border p-2">
      <%= image_tag(post.image, :width => "100%") %>
    </div>
    <div class="col-8  border">
	  <%= post.title %><br>
	  <%= post.created_at.strftime('%Y年%m月%d日 %H:%M') %>
	</div>
	<div class="col-2  border p-2 border-none ">
		<ul class="list-group">
			<li class="list-group-item border-0">
				<%= link_to 'show', post , class: "btn-dark p-2"%>
			</li>
			<li class="list-group-item border-0">
				<%= link_to 'edit', edit_admin_path(post) , class: "btn-dark p-2"%>
			</li>
			<li class="list-group-item border-0">
				<%= link_to 'delete', admin_path(post) , method: :delete,  class: "btn-dark p-2", data: { confirm: 'are you sure?' }%>
			</li>
		</ul>
    </div>
  </div>
  <% end %>
</div>