<section class="header_image">
	<div class="container text-center text-white header_content p-5">
		<h2>Welcome to My Portfolio</h2>
		<p>36歳のフリーランス。 仕事や趣味として作成した作品を掲載しています。</p>
		<div class="alert-primary">
			<%= flash[:success]%>
		</div>
	</div>
</section>
<div class="about-me p-5 mb-5">
	<div class="container text-white">
		<h3 class="text-center p-3">経歴</h3>
		<p>36歳のフリーランス。
			建築の専門学校を卒業後、大工として15年間活動。
			建築業と並行して、WEBサイトの運営、アフィリエイト、輸入ビジネスなどを経験。
			アフィリエイトでは１ヶ月に確定報酬80万円以上を達成。月間最大39,000PV。多くのキーワードで上位表示されています。 最大で月300件以上の商品を販売。
			WEBサイト作成のスキル、デザイン、ライティング、マーケティングなども学ぶ。
			プログラミングが趣味で初心者向け某プログラミングサイトのランキングで上位に入っている。他、udemyでは50以上のコースを受講。
			現在は、福岡でフリーランスとしてWEBサイト運営を行う
		</p>
		<h3 class="text-white text-center p-3">スキル</h3>
		<div class="container text-white">
			<div class="row">
				<div class="col">
					<h4>言語</h4>
					<ul>
						<li>HTML/CSS</li>
						<li>Javascript</li>
						<li>Python</li>
						<li>Ruby</li>
						<li>PHP</li>
					</ul>
				</div>
				<div class="col">
					<h4>フレームワーク</h4>
					<ul>
						<li>Ruby on Rails</li>
						<li>Django</li>
					</ul>
				</div>
				<div class="w-100"></div>
				<div class="col">
					<h4>デザイン</h4>
					<ul>
						<li>Photoshop</li>
						<li>Illustrator</li>
						<li>XD</li>
					</ul>
				</div>
				<div class="col">
					<h4>その他</h4>
					<ul>
						<li>SEO</li>
						<li>WEBマーケティング</li>
						<li>ライティング</li>
					</ul>
				</div>
			</div>
		</div>
		<h3 class="text-white text-center p-3">趣味・興味</h3>
		<p class="text-white">プログラミングのために始めた英語の勉強が趣味。日頃から見ている動画、聞いている音楽は英語圏のものが中心。ただし、中々上達しない。
			サッカー観戦が趣味で国内、海外の試合を常にチェックしている。福岡県民だがサガン鳥栖のファン。</p>
	</div>
</div>
</div>
</div>
<div class="portfolio mb-5">
	<div class="container slide-container mb-5">
		<div class="slide-box">
			<ul>
				<li>
					<input type="radio" checked="checked" name="slide">
					<div class="slide">
						<div class="colorfilter-base">
							<img src="images/iris.png">
						</div>
						<div class="content">
							<h4>Portfolio One</h4>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. .</p>
						</div>
					</div>
				</li>
				<li>
					<input type="radio" name="slide">
					<div class="slide">
						<div class="colorfilter-base">
							<img src="images/product-paper.jpg">
						</div>

						<div class="content">
							<h4>Portfolio Two</h4>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. .</p>
						</div>
					</div>
				</li>
				<li>
					<input type="radio" name="slide">
					<div class="slide">
							<div class="colorfilter-base">
									<img src="images/blog.jpg">
							  </div>
						<div class="content">
							<h4>Portfolio Three</h4>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. .</p>
						</div>
					</div>
				</li>
				<li>
					<input type="radio" name="slide">
					<div class="slide">
							<div class="colorfilter-base">
									<img src="images/notepc.jpg">
							  </div>
						<div class="content">
							<h4>Portfolio Four</h4>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. .</p>
						</div>
					</div>
				</li>
				<li>
					<input type="radio" name="slide">
					<div class="slide">
							<div class="colorfilter-base">
									<img src="images/time_desk.jpg">
							  </div>
						<div class="content">
							<h4>Portfolio Five</h4>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. .</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- <div class="portfolio mb-5">
	<div class="container">
		<h3 class="text-center mb-3">My Portfolio</h3>
		<div class="row portfolio-box pt-2">
			<div class="col-12 col-md-4 ">
				<p>Portfolio</p>
			</div>
			<div class="col-12 col-md-4 ">
				<p>Portfolio</p>
			</div>
			<div class="col-12 col-md-4 ">
				<p>Portfolio</p>
			</div>
			<div class="col-12 col-md-4 ">
				<p>Portfolio</p>
			</div>
			<div class="col-12 col-md-4 ">
				<p>Portfolio</p>
			</div>
			<div class="col-12 col-md-4 ">
				<p>Portfolio</p>
			</div>
		</div>
	</div>
</div> -->
<div class="contactform mb-5">
	<div class="container">
		<h3 class="text-center">CONTACT FORM</h3>


		<div class="form-group">
			<%= form_with model:@contact, local: true do |form| %>
			<% if @contact.errors.any? %>
			<div id="error_explanation">
				<h2>
					<%= pluralize(@contact.errors.count, "error") %> prohibaited this post from being saved:</h2>
				<ul>
					<% @contact.errors.full_messages.each do |message| %>
					<li>
						<%= message %>
					</li>
					<% end %>
				</ul>
			</div>
			<% end %>
			<div class="field">
				<%= form.label :"お名前" %>
				<%= form.text_field :name,required: true, :class=>"form-control" %>
			</div>

			<div class="field">
				<%= form.label :"E-mail adress" %>
				<%= form.email_field :email, :class=>"form-control" %>
			</div>

			<div class="field">
				<%= form.label :"お問い合わせ内容" %>
				<%= form.text_area :text, required: true, :rows=>"3", :class=>"form-control" %>
			</div>

			<div class="field">
				<%= form.label :"チェックを入れてください。" %>
				<%= form.check_box :agreement, required: true%>
			</div>

			<div class="actions mt-2">
				<%= form.submit :class=>"btn btn-primary" %>
			</div>
		</div>
		<% end %>
	</div>
</div>
</div>