<div class="container p-3">
	<h2>画像の編集</h2>
	<%= form_with model: @image, local: true  do |form| %>
	<div class="form-group">
		<%= form.label :名前 %>
		<%= form.text_field :name ,class: "form-control" %><br>
		<%= form.file_field :image ,class: "form-control-file" %><br>
		<%= form.submit class: "btn btn-primary" %>
	</div>
	<% end %>
</div>